
.container {
  width: 900px;
  margin: auto;
  line-height: 1.5;
}

.container h1 {
  color: white;
}

.container p {
  color:lightgray;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 520;
}
